@model BugProjektV1.Models.Mitarbeiter

@{
    ViewData["Title"] = "Details";
}



<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vorname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vorname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nachname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nachname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bereich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bereich)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MitarbeiterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
