@model IEnumerable<BugProjektV1.Models.Mitarbeiter>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" type="button" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vorname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nachname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bereich)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nachname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bereich)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MitarbeiterId" type="button" class="btn btn-secondary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MitarbeiterId" type="button" class="btn btn-danger">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MitarbeiterId" type="button" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
