@model BugProjektV1.Models.Projekt

@{
    ViewData["Title"] = "Delete";
}

<div>
    <h4>Projekt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjektName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjektName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDatum)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProjektId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
